<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933378626374-gi0lfb11sh3ji2on405akt5m6306alca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933378626374-gi0lfb11sh3ji2on405akt5m6306alca</string>
	<key>API_KEY</key>
	<string>AIzaSyBdV7D0gyl7XZj-LREY7Wtx4auctxu9XMw</string>
	<key>GCM_SENDER_ID</key>
	<string>933378626374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snarkiApp.snarkiApp</string>
	<key>PROJECT_ID</key>
	<string>snarki-4f4d9</string>
	<key>STORAGE_BUCKET</key>
	<string>snarki-4f4d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933378626374:ios:2c3fac90e1bbbc7c4e8b47</string>
</dict>
</plist>